<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		<div id="wrapper">
			{{ partial "header.html" . }}
			<div id="main">
				<div id="aside">
					{{partial "social-buttons.html" .}}
					{{partial "tags.html" .}}
				</div>
				<div id="contents">
					<h1>News</h1>
					{{if ne "News" .Title}}
						<p>Viewing news items tagged as <b>{{.Title}}</b>
					{{end}}
					{{range $j, $p := .Paginator.Pages}}
					<div class="entry{{if eq 0 $j}} first_entry{{end}}">
						<div class="date">{{$p.Date.Format "2 Jan 2006"}}</div>
						<h3>
							<a class="permalink" href="{{.Permalink}}">{{$p.Title}}</a>
						</h3>
						<div class="content">
							{{$p.Content}}
						</div>
						{{if isset $p.Params "tags"}}
							{{partial "article-tags.html" .}}
						{{end}}
					</div>
					{{end}}
				</div>
				{{partial "pagination.html" .}}
			</div>
			{{partial "newsletter.html" .}}
			{{partial "footer.html" .}}
		</div>
	</body>
</html>
